/* Overlapping */
.about {
  overflow-x: hidden;
}
.about_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.about_section .left {
  width: 100%;
  height: 320px;
  background: rgb(70, 63, 29);
  border-radius: 8px;
  border: 1px solid #eaeaea;
}
.about_section .right {
  width: 100%;
  height: 330px;
  background: url("../../Images/about.jpg") no-repeat center / cover;
  display: flex;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  margin-right: -175px;
  margin-top: 200px;
  z-index: 9;
}

@media only screen and (max-width: 768px) {
  .about_section {
    flex-direction: column;
    width: 100%;
    margin-top: -500px;
  }
  .about_section .left {
    width: 100%;
    height: 400px;
  }
  .about_section .right {
    visibility: hidden;
    /* margin-top: -100px; */
  }
}
